/._items.json
/._property_stats.001.json
/._test1.txt
/._test2.json
/data.properties.fr.001.json
/fr.001.json
/items.json
/properties_count.csv
/properties_count2.csv
/property_stats.001.json
/property_stats.json
/test.js
/test1-line1.json
/test1-line2.json
/test1-line3.json
/test1.txt
/test2-line1.json
/test2.json